# ===== Sistema operacional =====
.DS_Store
Thumbs.db

# ===== Logs e temporários =====
*.log
*.tmp
*.swp
*.bak

# ===== IDEs =====
.vscode/
.idea/

# ===== Node (caso venha a usar ferramentas de build) =====
node_modules/
